<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.tlh.mapper.IRegisterMapper">

    <insert id="add" >
        insert into login(
            username,salt,password,email,phone
        )values(
                   #{username},#{salt},#{password},#{email},#{phone}
               )
    </insert>
    <select id="selectByUsername" resultType="org.tlh.domain.Register">
        select * from login where username=#{username}
    </select>


</mapper>